@import 'tailwindcss';
@import './components.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --breakpoint-sm: 30rem;

  --animate-background: background-move 5s ease infinite;
  @keyframes background-move {
    0%,
    100% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
  }
}

@layer base {
  ::selection {
    @apply bg-green-200 text-neutral-900;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-slate-50 text-neutral-800 dark:bg-neutral-900 dark:text-neutral-200;
  }

  a {
    @apply font-medium text-blue-500 hover:text-blue-600 duration-200 ease-in-out;
  }
}
